<template>
    <div class="card material-table">
        <div class="table-header">
            <span class="table-title">{{title}}</span>
            <div class="actions">
                <a v-for="button in customButtons" href="javascript:undefined" class="nopadding" v-if="button.hide ? !button.hide : true" v-nclick="button.onclick">
                    <i class="material-icons">{{button.icon}}</i>
                </a>
                <a href="#" @click="showAdd(null)">
                    <small>
                        <i v-if="addLoading" class="fa fa-spin fa-spinner"></i>
                        <i v-if="addSuccess" class="fa fa-check"></i>
                        <i v-if="!addLoading && !addSuccess"  class="fa fa-plus"></i>
                        <p>Add New Contact</p>
                    </small>
                </a>
                <a href="#"  class="" id="btn" v-if="this.printable" @click="print">
                  <small><i class="fa fa-print"></i><p>Print</p></small>
                </a>
                <a href="#"  class="" id="btn" v-if="this.exportable" @click="exportExcel">
                  <small><i class="fa fa-arrow-down"></i><p>Download</p></small>
                </a>
                 <a href="#"  class="" id="btn" v-if="this.searchable" @click="search">
                  <small><i class="fa fa-search"></i><p>Search</p></small>
                </a>
            </div>
        </div>

        <div v-if="this.searching">
            <div id="search-input-container">
                <label>
                    <input type="search" id="search-input" class="form-control" placeholder="Search data" v-model="searchInput">
                </label>
            </div>
        </div>

        <div v-if="this.addNewContact">
            <div id="search-input-container" style="padding-top:8px">
                <label>
                    <input type="text" placeholder="First name" id="first_name" data-vv-name="First Name" v-model="details.first_name" v-validate="'required'" class="form-control">
                    <span v-show="errors.has('First Name')" class="help-block">{{ errors.first('First Name') }}</span>
                </label>
                <label>
                    <input type="text" placeholder="Last name" id="last_name" v-model="details.last_name" class="form-control">
                </label>
                <div v-for="(info,index) in info_rows">
                    <label>
                         <input type="text" placeholder="Contact Number" id="number" v-model="info.contact_number" class="form-control" v-if="index == 0"  v-validate="'required'" data-vv-name="Contact Number">
                         <input type="text" placeholder="Contact Number" id="number" v-model="info.contact_number" class="form-control" v-else>
                         <span v-show="errors.has('Contact Number')" class="help-block">{{ errors.first('Contact Number') }}</span>
                    </label>
                    <label>
                        <input type="text" placeholder="Email" id="email" v-model="info.email" class="form-control">
                    </label>
                    <label>
                        <input type="text" placeholder="Address" id="address"  v-model="info.address" class="form-control">
                    </label>

                    <label v-if="index > 0">
                        <button class="btn btn-danger remove-row" @click="deleteRow(index)">X</button>
                    </label>
                </div>

                <label>
                    <button v-if="edit == false" type="submit" class="btn btn-info"  @click="addContact"><i v-if="addLoading" class='fa fa-spinner fa-spin'></i> Add Contact</button>
                    <button v-else type="submit" class="btn btn-warning"  @click="updateContact"><i v-if="addLoading" class='fa fa-spinner fa-spin'></i> Update Contact</button>
                    <button type="submit" class="btn btn-success" @click="addRow">Add Row</button>
                </label>
            </div>
        </div>

        <div v-if="this.view">
            <div id="search-input-container" style="padding-top:8px;text-align: center;">
                <label>
                    <i class="fa fa-user"></i>&nbsp; {{ details.first_name + ' ' +  details.last_name }} 
                </label>
                <div v-for="(info,index) in info_rows">
                    <label v-if="info.contact_number !== null && info.contact_number !== ''">
                        <i class="fa fa-phone"></i>&nbsp;{{ info.contact_number }}</span>
                    </label>
                </div>
                <div v-for="(info,index) in info_rows">
                    <label v-if="info.email !== null && info.email !== ''">
                        <i class="fa fa-envelope"></i>&nbsp;{{ info.email }}
                    </label>
                </div>
                <div v-for="(info,index) in info_rows">
                    <label v-if="info.address !== null && info.address !== ''">
                        <i class="fa fa-home"></i>&nbsp;{{ info.address }}</span>
                    </label>
                </div>
            </div>
        </div>

        <table ref="table">
            <thead>
                <tr>
                    <th style="width: 5px;">
                    #
                    
                    </th>
                    <th v-for="(column, index) in columns" @click="sort(index)" :class="(sortable ? 'sorting actions' : '')
                            + (sortColumn === index ?
                                (sortType === 'desc' ? 'sorting-desc' : 'sorting-asc')
                                : '')
                            + (column.numeric ? ' numeric' : '')" :style="{width: column.width ? column.width : 'auto'}">
                        {{column.label}}
                        <i class="fa fa-sort"></i>
                    </th>
                    <th class="actions" style="width: 180px;">
                    Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, index) in paginated" :class="onClick ? 'clickable' : ''" @click="click(row, index)">
                    <td>{{ index + 1 }}</td>
                    <td v-for="column in columns" :class="column.numeric ? 'numeric' : ''">
                        <a href="#" v-on:click="viewContact(row)" ><span> {{ collect(row, column.field) }}</span></a>
                    </td>
                    <td>
                          <a href="#" role="button" class="btn btn-primary btn-mini" v-on:click="showAdd(row)" ><i class="fa fa-edit" style="color:#fff;font-size:unset;"></i></a> 
                          <a  href="#" role="button" class="btn btn-danger btn-mini" v-on:click="deleteContact(row.id)" ><i class="fa fa-trash" style="color:#fff;font-size:unset;"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="table-footer" v-if="paginate">
            <div class="datatable-length">
                <label>
                    <span>Rows per page:</span>
                    <select class="browser-default" @change="onTableLength">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="-1">All</option>
                    </select>
                </label>
            </div>
            <div class="datatable-info">
                {{(currentPage - 1) * currentPerPage ? (currentPage - 1) * currentPerPage : 1}} -{{Math.min(processedRows.length, currentPerPage * currentPage)}} of {{processedRows.length}}
            </div>
            <div>
                <ul class="material-pagination">
                    <li>
                        <a href="javascript:undefined" class="waves-effect btn-flat" @click.prevent="previousPage" tabindex="0">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:undefined" class="waves-effect btn-flat" @click.prevent="nextPage" tabindex="0">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</template>
<script>
import Fuse from 'fuse.js';
export default {
    mounted(){
        this.Toast = this.$swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
    },
    props: {
        title: '',
        columns: {
            required: true
        },
        rows: {
            required: true
        },
        onClick: {},
        customButtons: {
            default: () => []
        },
        perPage: {
            default: 10
        },
        sortable: {
            default: true
        },
        searchable: {
            default: true
        },
        paginate: {
            default: true
        },
        exportable: {
            default: true
        },
        printable: {
            default: true
        },
    },
    data: function() {
        return {
            currentPage: 1,
            currentPerPage: 10,
            sortColumn: -1,
            sortType: 'asc',
            searching: false,
            searchInput: '',
            details : {
                'id' : '',
                'first_name' : '',
                'last_name' : ''
            },
            info_rows: [
                { 
                    'contact_number' : '',
                    'email' : '',
                    'address' : ''
                }
            ],
            edit: false,
            view: false,
            showEdit: false,
            addLoading: false,
            addSuccess: false,
            addNewContact: false,
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            headers: {
                smail: '*_~'
            },
            Toast: null
        }
    },
    filters: {
      capitalize: function (value) {
        if (!value) return ''
        value = value.toString()
        return value.charAt(0).toUpperCase() + value.slice(1)
      }
    },
    methods: {
        addRow: function() {
            this.info_rows.push( { 'contact_number': '', 'email': '', 'address': '' });
        },
        deleteRow: function(index) {
            this.$swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#0DB800',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    this.info_rows.splice(index, 1);
                    this.Toast.fire({
                        type: 'success',
                        title: 'Item removed successfully'
                    });
                }
            })
            
        },
        addContact(){
            var v = this;
            v.$validator.validateAll().then((result) => {
                if(!result){
                }else{
                    v.loading = true;
                    var payload = {
                        '_token' : this.csrf,
                        'details' : this.details,
                        'info_rows' : this.info_rows,
                    };
                    axios.post('/add-contact', payload).then((response)=>{
                        if(response.data['success'] === true){
                            Fire.$emit('AfterRequest');

                            this.loading = false;
                            this.addNewContact = false;

                            this.Toast.fire({
                                type: 'success',
                                title: response.data['message'] 
                            });
                        }
                    }).catch((error)=>{
                        v.$swal('Oops',response.data['message'] ,'error');
                    });
                }
            });
        },
        updateContact(){
            var v = this;
            v.$validator.validateAll().then((result) => {
                if(!result){
                }else{
                    v.loading = true;
                    var payload = {
                        '_token' : this.csrf,
                        'details' : this.details,
                        'info_rows' : this.info_rows,
                    };
                    axios.post('/update-contact', payload).then((response)=>{
                        if(response.data['success'] === true){
                            Fire.$emit('AfterRequest');

                            this.loading = false;
                            this.addNewContact = false;

                            this.Toast.fire({
                                type: 'success',
                                title: response.data['message'] 
                            });
                        }
                    }).catch((error)=>{
                        v.$swal('Oops',response.data['message'] ,'error');
                    });
                }
            });

        },
        deleteContact(id){
            this.$swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#0DB800',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    axios.get('/delete-contact/'+id).then((response) =>{
                        if(response.data['success'] === true){
                            Fire.$emit('AfterRequest');

                            this.Toast.fire({
                                type: 'success',
                                title: 'Contact has been deleted'
                            });

                        }else{
                            this.$swal('Oops','Somethening went wrong, Please try again','error');
                        }
                    }).catch(() => {
                        this.$swal('Failed', 'Opps, something went wrong, please try again','warning');
                    });
                }
            })
        },
        showAdd(contact){
            if(contact !== null){
                this.details.id = contact.id;
                this.details.first_name = contact.first_name;
                this.details.last_name = contact.last_name;
                this.info_rows = contact.attributes;
                this.edit = true;
            }else{
                this.details.id = '';
                this.details.first_name = '';
                this.details.last_name = '';
                this.info_rows = [
                    { 
                        'contact_number' : '',
                        'email' : '',
                        'address' : ''
                    }
                ];
                this.edit = false;
            }

            this.view = false;
            this.searching = false;
            this.addNewContact = true
        },
        viewContact(contact){
            this.details.id = contact.id;
            this.details.first_name = contact.first_name;
            this.details.last_name = contact.last_name;
            this.info_rows = contact.attributes;
            this.view = true;
            this.searching = false;
            this.addNewContact = false
        },
        reloadContacts(id){
              axios.get('/get-all-contacts').then((response) =>{
                  this.rows  = response.data.contacts;
              });
        },
        nextPage() {
            if (this.processedRows.length > this.currentPerPage * this.currentPage)
                ++this.currentPage;
        },

        previousPage() {
            if (this.currentPage > 1)
                --this.currentPage;
        },

        onTableLength(e) {
            this.currentPerPage = e.target.value;
        },

        sort(index) {
            if (!this.sortable)
                return;
            if (this.sortColumn === index) {
                this.sortType = this.sortType === 'asc' ? 'desc' : 'asc';
            } else {
                this.sortType = 'asc';
                this.sortColumn = index;
            }
        },

        search(e) {
            this.view = false;
            this.addNewContact = false;
            this.searching = !this.searching;
        },

        click(row, index) {
            if (this.onClick)
                this.onClick(row, index);
        },

        exportExcel() {
            const mimeType = 'data:application/vnd.ms-excel';
            const html = this.renderTable().replace(/ /g, '%20');

            const d = new Date();

            var dummy = document.createElement('a');
            dummy.href = mimeType + ', ' + html;
            dummy.download = this.title.toLowerCase().replace(/ /g, '-') + '-' + d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + '-' + d.getHours() + '-' + d.getMinutes() + '-' + d.getSeconds() + '.xls';
            dummy.click();
        },

        print() {
            let win = window.open("");
            win.document.write(this.renderTable());
            win.print();
            win.close();
        },

        renderTable() {
            var table = '<table><thead>';

            table += '<tr>';
            for (var i = 0; i < this.columns.length; i++) {
                const column = this.columns[i];
                table += '<th>';
                table += column.label;
                table += '</th>';
            }
            table += '</tr>';

            table += '</thead><tbody>';

            for (var i = 0; i < this.rows.length; i++) {
                const row = this.rows[i];
                table += '<tr>';
                for (var j = 0; j < this.columns.length; j++) {
                    const column = this.columns[j];
                    table += '<td>';
                    table += this.collect(row, column.field);
                    table += '</td>';
                }
                table += '</tr>';
            }

            table += '</tbody></table>';

            return table;
        },

        dig(obj, selector) {
            var result = obj;
            const splitter = selector.split('.');
            for (let i = 0; i < splitter.length; i++)
                if (typeof(result) === 'undefined')
                    return undefined;
                else
                    result = result[splitter[i]];
            return result;
        },

        collect(obj, field) {
            if (typeof(field) === 'function')
                return field(obj);
            else if (typeof(field) === 'string')
                return this.dig(obj, field);
            else
                return undefined;
        },
    },
    created(){
      Fire.$on('AfterRequest',() => {
        this.reloadContacts();
      });
    },
    computed: {
        processedRows: function() {
            var computedRows = this.rows;

            if (this.sortable !== false)
                computedRows = computedRows.sort((x, y) => {
                    if (!this.columns[this.sortColumn])
                        return 0;

                    const cook = (x) => {
                        x = this.collect(x, this.columns[this.sortColumn].field);
                        if (typeof(x) === 'string') {
                            x = x.toLowerCase();
                            if (this.columns[this.sortColumn].numeric)
                                x = x.indexOf('.') >= 0 ? parseFloat(x) : parseInt(x);
                        }
                        return x;
                    }

                    x = cook(x);
                    y = cook(y);

                    return (x < y ? -1 : (x > y ? 1 : 0)) * (this.sortType === 'desc' ? -1 : 1);
                })

            if (this.searching && this.searchInput)
                computedRows = (new Fuse(computedRows, {
                    keys: this.columns.map(c => c.field)
                })).search(this.searchInput);

            return computedRows;
        },

        paginated: function() {
            var paginatedRows = this.processedRows;
            if (this.paginate)
                paginatedRows = paginatedRows.slice((this.currentPage - 1) * this.currentPerPage, this.currentPerPage === -1 ? paginatedRows.length + 1 : this.currentPage * this.currentPerPage);
            return paginatedRows;
        }
    }
}
</script>
<style scoped>
.table-header[data-v-e8ca274c] {
    height: 64px;
    padding-left: 0;
}
#search-input[data-v-c0c20230] {
    margin: 0;
    border: 1px solid #e3e3e3;
    height: 40px;
    margin-top: 9px;
    color: rgba(0, 0, 0, .84);
}

div.material-table {
    padding: 0;
}

tr.clickable {
    cursor: pointer;
}

#search-input-container {
    padding: 0 14px 0 24px;
    border-bottom: solid 1px #DDDDDD;
}

table {
    table-layout: fixed;
}

.table-header {
    height: 64px;
    padding-left: 24px;
    padding-right: 14px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-display: flex;
    border-bottom: solid 1px #DDDDDD;
}

.table-header .actions {
    display: -webkit-flex;
    margin-left: auto;
}

.sorting i{
    display: inline-block;
    margin: 6px 0 0 6px;
}

.table-header .btn-flat {
    min-width: 36px;
    padding: 0 8px;
}

.table-header input {
    margin: 0;
    height: auto;
}

.table-header i {
    color: rgba(0, 0, 0, 0.54);
    font-size: 20px;
}

.table-header a {
    margin-right: 20px;
    text-align: center;
    margin-top: 14px;
}
.table-header  small p {
    margin-bottom: 0;
}

.table-footer {
    height: 56px;
    padding-left: 24px;
    padding-right: 14px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.54);
}

.table-footer .datatable-length {
    display: -webkit-flex;
    display: flex;
}

.table-footer .datatable-length select {
    outline: none;
}

.table-footer label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.table-footer .select-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.table-footer .datatable-info,
.table-footer .datatable-length {
    margin-right: 32px;
}

.table-footer .material-pagination {
    display: flex;
    -webkit-display: flex;
    margin: 0;
    list-style-type: none;
}

.table-footer .material-pagination li a {
    color: rgba(0, 0, 0, 0.54);
    padding: 0 8px;
    font-size: 24px;
}

.table-table tr td a i {
    color: #fff !important;
    font-size: unset !important;
}

footer .select-wrapper input.select-dropdown {
    margin: 0;
    border-bottom: none;
    height: auto;
    line-height: normal;
    font-size: 12px;
    width: 40px;
    text-align: right;
}

.table-footer select {
    background-color: transparent;
    width: auto;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: auto;
    margin-left: 20px;
}

.table-title {
    font-size: 20px;
    color: #000;
}

table tr td {
    padding: 0 0 0 56px;
    height: 48px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: solid 1px #DDDDDD;
    display: table-cell;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

table tr td a {
    color: inherit;
}

table tr td a i {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
}

table tr {
    font-size: 12px;
}

table th {
    font-size: 12px;
    font-weight: 500;
    color: #757575;
    cursor: pointer;
    white-space: nowrap;
    padding: 0;
    height: 56px;
    padding-left: 56px;
    vertical-align: middle;
    outline: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th:hover {
    overflow: visible;
    text-overflow: initial;
}

table th.sorting-asc,
table th.sorting-desc {
    color: rgba(0, 0, 0, 0.87);
}
    
table tbody tr:hover {
    background-color: #EEE;
}

table th:last-child,
table td:last-child {
    padding-right: 14px;
}

table th:first-child,
table td:first-child {
    padding-left: 24px;
}
.remove-row{
    padding: 4px 8px;
    margin-top: -5px;
}
.help-block{
    font-size: 12px;
    color: red;
    float: left;
}
</style>
