<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div>
                    <b-card no-body>
                        <b-tabs card>
                            <b-tab title="Task List" active>
                                <b-card-text>
                                    <tasks-datatable id="datatable" :rows="tasks" :columns="tasks_columns" title="Taks List"></tasks-datatable>
                                </b-card-text>
                            </b-tab>
                            <b-tab title="Contacts">
                                <b-card-text>
                                    <contacts-datatable id="datatable" :rows="contacts" :columns="contacts_columns" title="Contacts"></contacts-datatable>
                                </b-card-text>
                            </b-tab>
                        </b-tabs>
                    </b-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import TasksDataTable from './DataTables/TasksDataTable';
    import ConstactsDataTable from './DataTables/ContactsDataTable';
    export default {
        props : ['contacts' , 'tasks'],
        components:{
            'tasks-datatable' : TasksDataTable,
            'contacts-datatable' : ConstactsDataTable
        },
        mounted() {
            
        },
        data: function(){
            return {
                contacts_columns:[
                    {
                        label: 'First name',  // Column name
                        field: 'first_name',  // Field name from row
                        numeric: false, // Affects sorting
                        html: false,    // Escapes output if false.
                    },
                    {
                        label: 'Last name',  // Column name
                        field: 'last_name',  // Field name from row
                        numeric: false, // Affects sorting
                        html: false,    // Escapes output if false.
                    },
                ],
                tasks_columns:[
                    {
                        label: 'Title',  // Column name
                        field: 'title',  // Field name from row
                        numeric: false, // Affects sorting
                        html: false,    // Escapes output if false.
                    },
                    {
                        label: 'Due Date',  // Column name
                        field: 'due_date',  // Field name from row
                        numeric: false, // Affects sorting
                        html: false,    // Escapes output if false.
                    },
                    {
                        label: 'Priority',  // Column name
                        field: 'priority',  // Field name from row
                        numeric: true, // Affects sorting
                        html: false,    // Escapes output if false.
                    },
                ],
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
        },
        methods: {
        } 
    }
</script>
